<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/user/index">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/product/index">Products</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#">Webshop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        {% if loggedIn is defined %}
            {% if loggedIn %}
                {{ include('loggedIn.html.twig') }}
            {% else %}
                {{ include('loggedOut.html.twig') }}
            {% endif %}
        {% else%}
                {{ include('loggedOut.html.twig') }}
        {% endif %}
    </div>

</nav>
{{ include('flashmessages.html.twig') }}