<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/login">login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/user/create">register</a>
        </li>
    </ul>
</div>